li{
align-items: center;
padding-left: 100px;
display: inline;
margin-top: 50px;
align-self: center;
}
#article{
    margin-top: 10px;
    padding: 50px;
    font-weight: bolder;
    font-size: x-large;
    color: #FAFF00;
    
}
#break{
    margin-top: 5px;
    padding: 50px;
    font-weight: 900;
    margin-bottom: 600px;
    }
#log{
    color: #FAFF00;
    }
#image{
    background-image: url(../images/moving\ 1.png);
    height: 400px;
    width: 1000px;
    padding-left: 50px;
    background-size: cover;
    }
    img{
        height: 300px;
     }
.margin{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}    
.flo{
    display: flex;
    justify-content: space-between;
}
.aset{
    display: flex;
    justify-content: space-between;
}
#super{
    display: flex;
    justify-content: space-evenly;
    padding: 150px;
    
}
hr{
    width: 900px
    
}
#move{
    padding-left: 200px;
}
#grou{
    background-color: #DBF9FC;
}
#read{
    padding-left: 500px;
    color: aqua;
    
}