li {
    align-items: center;
    padding-left: 100px;
    display: inline;
    margin-top: 50px;
    align-self: center;
    color: white;
}

#article {
    margin-top: 10px;
    padding: 50px;
    font-weight: bolder;
    font-size: x-large;
    color: #FAFF00;

}

#break {
    margin-top: 5px;
    padding: 50px;
    font-weight: 900;
    margin-bottom: 600px;
    color: white;
}

#log {
    color: black;
}

#in {
    color: #FAFF00;
}

#btn {
    background-color: #FAFF00;

}

#tnd {
    background-color: black;
    color: #FAFF00;
}
#lias{
    background-color: #FAFF00;
    margin-top: 5px;
    margin-left: 100px;
}
.dream{
    font-weight: 900;
    margin-left: 100px;
}

#image {
    background-image: url(../images/moving\ 1.png);
    height: 80vh;
    padding-left: 50px;
    background-size: cover;
}


.margin {

    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    
}

.flo {
    display: flex;
    justify-content: space-between;
    
}
#lazier img{
    width: 25rem;
}

.pik img{
    width: 47rem !important;
    margin-right: 2rem
 
}

#PCT {
    height: 200px;
    padding: 5px;
    margin-right: 5;

}

.aset {
    display: flex;
    justify-content: space-between;
}

#super {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    color: white;
    margin-left: 300px;

}

hr {
    width: 900px
}

#move {
    padding-left: 200px;
    color: white;
}

#grou {
    background-color: black;
    height: 350px;

}
f
#read {
    padding-left: 500px;
    color: aqua;
}

#pus {
    justify-content: space-evenly;
    margin-top: 50px;
    display: flex;
    

}

#mode img {
    display: inline;
    display: flex;
    width: 15rem;
    justify-content: space-evenly;
    margin-left: 3rem;
}
#bat{
    background-color: #FAFF00;
}
.tagit img{
    height: 13rem;
}
#item {
    margin-right: 500px;
    margin-left: 150px;
}
.dividend{
    background-color: black;
    margin-bottom: 100px;
}
.navi{
    background-color: black;
    opacity: 0.8;
}
.dept{
    margin-left: 150px;
    background-color: whitesmoke;
}

#picta {
    display: flex;

}

#picta img {

    margin-right: 2rem;
    width: 5rem;
}

#juba {
    padding-left: 150px;
}

#online {
    justify-content: space space-between;
    font-weight: 900;
    display: inline;
}

.box {

    box-sizing: content-box;
    padding-top: 50px;
    background-color: whitesmoke;
    box-shadow: whitesmoke;
}

#feat {
    display: inline;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#mode {
    display: flex;
    color: white;

}

#chrome {
    display: flex;
    justify-content: space-evenly;
    color: white;
    
}
.real{
    color: #FAFF00;
    margin-left: 100px;
    
}

#GO {
    color: aqua;
    margin-left: 600px;
    color: red;
    font-weight: bolder;
    align-items: center;
    margin-bottom: 200px;

}